<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property scope="local" name="app.context.name" value="test-spec-bank.rest" />
    <property scope="local" name="app.base.package.name" value="org.opentestsystem.authoring.testspecbank" />
    <property scope="local" name="app.base.package.loglevel" value="debug" />
    <property scope="local" name="mna.appender.active" value="true" />
	<include resource="logback-included-common-config.xml" />
</configuration>
