<div data-ng-transclude></div>

<div class="errorBox" data-ng-show="errorList.length">
    <div class="centered" data-ng-class="{pageWidth:!isRelativeWidth()}">
        <div data-ng-if="!isAlwaysExpanded()">
	        Please fix errors in order to save information: 
	        <i data-ng-click="toggleErrors()" class="treeExpander {{showErrors ? 'expanded' : 'collapsed'}}"></i>
        </div>

        <div data-ng-class="{offset:!isAlwaysExpanded(), leftAlign:!isAlwaysExpanded() || isRelativeWidth()}">
            <div data-ng-hide="!showErrors" data-ng-repeat="error in errorList track by $index | orderBy:'toString()'">
                <span class="icon_sprite icon_error error"></span>
                {{error}}
            </div>
        </div>
    </div>
</div>